body{
    margin: 0;
    padding: 0;
}
.contenedor{
    margin: 0;
    padding: 0;
}
.caja{
    width: 200px;
    height: 200px;
    /*le agregamos position absolute*/
}
#rosa{
    background-color: #EE3E64;
  
}
#azul{
    background-color: #2B7DB9;
    position: relative;
   
}
#verde{
    background-color: green;
    

}
/*adicionamos el amarillo*/
#amarillo{
    background-color: #FAFF16;
    left: 0;
    bottom: 0;
    
}

